{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit Entry - {{ title }}</h1>
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        Edit content:
        <input type="hidden" name="param" value="{{ title }}">
        <br>
        <textarea style="width: 500px; height: 150px;" id="markup_text" name="markup_text">{{ content }}</textarea>
        <br>
        <input type="submit" value="submit">
    </form>
{% endblock %}