{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="mainTitle">All Posts</h1>
    {% if user.is_authenticated %}
        <div class="newPost">
            <div id="newPostTitle">New Post</div>
            <form method="post">
                {% csrf_token %}
                <textarea id="newPostContent" name="postContent"></textarea> <br>
                <input id="newPostButton" type="submit" value="Post">
            </form>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="posts">
            <a id="postTitle" href="{% url 'profile' post.user_id %}">{{ post.username }}</a>
            {% if post.user_id == user.id %}
                <div class="edit">edit</div>
            {% endif %}
            <div class="postContent">{{ post.body }}</div>
            <form class="editForm" method="post">
                {% csrf_token %}
                <textarea class="postEdit" name="postEdit">{{ post.body }}</textarea>
                <input type="hidden" name="postId" value="{{ post.id }}">
                <input class="postEditButton" type="submit" value="Post">
            </form>
            <span class="heartButtons">
                {% if user.id in post.liked_by %}
                    <span><img id='fullheart' src="{% static 'fullheart.png' %}" style="display: block"></span>
                    <span><img id='emptyheart' src="{% static 'emptyheart.png' %}" style="display: none"></span>
                {% else %}
                <span><img id='fullheart' src="{% static 'fullheart.png' %}" style="display: none"></span>
                <span><img id='emptyheart' src="{% static 'emptyheart.png' %}" style="display: block"></span>
                {% endif %}
            </span>
            <span class="postLikes" data-post-id="{{ post.id }}">{{ post.likes }}</span>
            <div id="postDate">{{ post.created_at }}</div>
        </div>
    {% endfor %}
    <br/><br/>
    <div class="paginator">
        <span id="previousPage">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo First</a>
            {% endif %}
        </span>
        
        <span id="currentPage">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>

        <span id="nextPage">
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Next &raquo</a>
            {% endif %}
        </span>
    </div> 

{% endblock %}

{% block script %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}